Source: dframework
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 qtbase5-dev
Standards-Version: 4.5.0

Package: libdframework
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit Framework library
 libdframework is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdframework-dev
Architecture: any
Depends:${misc:Depends}, libdframework( =${binary:Version})
Description: Deepin Tool Kit Framework Devel library
 libdframework-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.
